.Lock-image {
  align-items: center;
  background-image: url('./Resources/Lock.png');


  background-size: cover;

   
  transform: scale(.85);
}

.toggle-switch {

  position: relative;
  width: 50px;
  height: 25px;
  margin: auto;
  margin-left: -10%;

}

.toggle-switch input[type="checkbox"] {
  display: none;

}

.toggle-switch .switch {
  text-align: right;
  align-items: right;
  position: absolute;
  cursor: pointer;
  background-color: #15161A;

  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;

}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked+.switch::before {
  transform: translateX(25px);
  background-color: white;
}

.toggle-switch input[type="checkbox"]:checked+.switch {
  background-color: rgba(253, 229, 211, 0.65);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);

}

.neonShadeText {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: .8rem;
  margin-top: -35%;
  letter-spacing: 0.1em;


}




.ShadePulsate {
  /*
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px #1a9ebd,
  0 0 80px #1a9ebd,
  0 0 90px #1a9ebd,
  0 0 100px #1a9ebd,
  0 0 150px #1a9ebd;
  */
 /* animation: pulsate 1.5s infinite alternate;*/
}

@keyframes pulsate {

  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #d8640a,
      0 0 80px #d8640a,
      0 0 90px #d8640a,
      0 0 100px #d8640a,
      0 0 150px #d8640a;

  }

  0% {

    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #d8640a,
      0 0 45px #d8640a,
      0 0 55px #d8640a,
      0 0 70px #d8640a,
      0 0 80px #d8640a;

  }

}