.deviceTitlePulsate2 {
    animation: pulsate 1.5s infinite alternate;
  }
  
  @keyframes pulsate {
  
    100% {
  
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #d8640a,
        0 0 80px #d8640a,
        0 0 90px #d8640a,
        0 0 100px #d8640a,
        0 0 150px #d8640a;
  
    }
  
    0% {
  
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #d8640a,
        0 0 45px #d8640a,
        0 0 55px #d8640a,
        0 0 70px #d8640a,
        0 0 80px #d8640a;
  
    }
  
  }