.carousel-inner active {
    display: grid;

}

.carousel-item.active {
    display: grid;
    align-items: center;
    justify-items: center;
}

.carousel-item-next {
    display: grid;
}

.carousel-item-end {
    display: grid;
}

.carousel-control-prev {}

.carousel-control-next {}

.carousel-indicators {
    bottom: 0;
    margin-bottom: -1rem;
}