@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.LoginContainer {
    height: 480px;
    width: 450px;
    background-color: #1f262a;
    position: relative;
    box-shadow: 0 0px 5px rgba(184, 168, 168, 0.6);
    font-family: 'Poppins';
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    display: inline-grid;
    grid-template-columns: auto auto;
}
.Login{

}

.box {

    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-top: 15%;
    background-color: rgba(42, 169, 233, .65);
    grid-area: 1 / 1 / 2 / 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.LoginTitle {
    font-size: 3rem;
    font-weight: bold;
}

.Inputs {
    margin-top: 30%;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f262a
}

.card {
    height: 480px;
    width: 450px;
    background-color: #1f262a;
    position: relative;
    box-shadow: 0 0px 5px rgba(184, 168, 168, 0.6);
    font-family: 'Poppins';
    border-radius: 5px;
    padding: 20px
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.text p {
    font-size: 13px;
    color: #bac4d4;
    font-weight: 700
}

.input-text {
    position: relative;
    margin-top: 30px;
    background-color: rgba(49, 59, 65, .6);

}

input[type="text"] {
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 0 10px;
    padding-left: 30px;
    outline: 0;
    font-size: 20px;
    background-color: rgba(49, 59, 65, .6);
    color: #fff;
}

input[type="password"] {
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(49, 59, 65, .6);
    color: #fff;

    padding: 0 10px;
    padding-left: 30px;
    padding-right: 27px;
    outline: 0;
    font-size: 20px
}

.fa-user {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 20px
}

.fa-lock {
    position: absolute;
    left: 12px;
    top: 20px;
    cursor: pointer;
    font-size: 30px
}




.input-text .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 30px;
    cursor: pointer
}

.fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 30px;
    cursor: pointer
}

.fa-eye {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 30px;
    cursor: pointer
}
.fa-eye::before {
    font-size: 30px;
    cursor: pointer
}

.buttons {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center
}

.buttons button {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #267fff;
    border-radius: 5px;
    font-size: 12px;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: -30%;

}

.buttons button:hover {
    background-color: #083c87
}

.forgot {
    margin-top: 30px;
    font-size: 20px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center
}

.forgot a {
    text-decoration: none
}

.alert {

    margin-top: 50px;

}