.Weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100%;
    height: 100%;
    border-radius: .5rem;

}


.WeatherImage {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/cloudySun.png');
    background-size: cover;
    margin-top: -15%;
}

.WeatherInfo {
    grid-area: 1 / 2 / 2 / 3;

    color: #fff;
    margin-top: 13%;
    margin-left: 15%;
}

.WeatherDegree {
    grid-area: 1 / 3 / 2 / 4;

    text-align: right;
    color: #fff;
    margin-top: 13%;
}


.Drizzle {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/littleRain.png');
    background-size: cover;
    margin-top: -10%;
}

.Rain {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/littleRain.png');
    background-size: cover;
    margin-left: -12%;
}

.Thunderstorm {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/strongStorm.png');
    background-size: cover;
    transform: scale(1);

    margin-top: -5%;
    height: 150px;
}

.Clear {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/sun.png');
    background-size: cover;

    margin-top: -15%;
}

.Clouds {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/cloudyDay.png');
    background-size: cover;
    transform: scale(.95);

    margin-top: -5%;
    margin-left: -10%;
}

.Mist {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./Resources/WeatherIcons/cloudyDay.png');
    background-size: cover;
    margin-top: -15%;
}


.ClockBody {
    text-align: center;
    align-items: center;
    margin-top: -10%;
    margin-left: -5%;
}

/*
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }
.div6 { grid-area: 2 / 5 / 3 / 6; }
*/