.WeatherCardBody {
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;

    height: 45%;
    width: 100%;
    /*transform: translate(200%, 50%);*/
    background: rgba(0, 0, 0, 0.15) /* Green background with 30% opacity */


}




.temperatureNumber {
    text-align: center;
    margin-top: 5%;
    padding-left: 8%;

    font-size: 2.5vw;
    src: url('Resources/Simple-regular.ttf') format("opentype");
    color: #cccccc;

}

.weatherCity {
    text-align: center;
    padding-top: 5%;

    src: url('Resources/Simple-light.ttf') format("opentype");
    font-size: 1vw;
    color: #cccccc;
}

.weatherImage {
    background-image: url('./Resources/WeatherSun.gif');
    background-size: 100%;
    background-position: center center;
    background-size: 100% 100%;
    width: 35%;
    height: 23%;
    display: block;
    margin: auto;
}

.weatherDesc {
    text-align: center;
    margin-top: -10%;

    src: url('Resources/Simple-light.ttf') format("opentype");
    font-size: 1.2rem;
    color: #cccccc;

}

.weatherSeparator {
    margin-top: 20%;

    src: url('Resources/Simple-light.ttf') format("opentype");
    font-size: 1.2rem;
    color: black;

}

.todayWeatherInfo {
    src: url('Resources/Simple-regular.ttf') format("opentype");
    font-size: .8rem;
    display: grid;
    color: #cccccc;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.one {
    grid-area: 1 / 1 / 4 / 2;
    text-align: center;


}

.two {
    grid-area: 1 / 2 / 4 / 3;
    text-align: center;

}

.thre {
    grid-area: 1 / 3 / 4 / 4;
    text-align: center;

}

.weatherSun {
    background-image: url('./Resources/WeatherSun.gif');
    background-size: 100%;
    background-position: center center;
    background-size: 100% 100%;
    width: 30%;
    height: 40%;
    display: block;
    margin: auto;
    margin-top: -10%;

}

.weatherStorm {
    background-image: url('./Resources/WeatherStorm.gif');
    background-size: 100%;
    background-position: center center;
    background-size: 100% 100%;
    width: 30%;
    height: 40%;
    display: block;
    margin: auto;
    margin-top: -10%;

}

.weatherRainfall {
    background-image: url('./Resources/WeatherRinfall.gif');
    background-size: 100%;
    background-position: center center;
    background-color: #cccccc;
    background-size: 100% 100%;
    width: 30%;
    height: 40%;
    display: block;
    margin: auto;
    margin-top: -10%;
}

.weatherWindy {
    background-image: url('./Resources/WeatherWindy.gif');
    background-size: 100%;
    background-position: center center;
    background-size: 100% 100%;
    width: 30%;
    height: 40%;
    display: block;
    margin: auto;
    margin-top: -10%;

}

.weatherDegree {
    margin-top: 0%;

}