.PasilloPiso1Body {
    position: relative;
    margin: auto;
    min-height: 100%;
}

.EntradaPuertaPasillo {
    position: absolute;

    border-left: 8px solid rgb(43, 191, 226, 1);
    height: 100%;

}

.ImagenPuertaPasillo{
    margin-left: -130%;
    margin-top: 50%;

}
.PasilloPiso1Body:hover {
    transform: scale(1.01);
}